@media screen and (min-width: 1024px) and (max-width:1280px) {
	body {
		font-family: Tahoma;
		font-size: 12pt;
	}
}
@media screen and (min-width: 1281px) {
	body {
		background-color: lightblue;
		font-family: Tahoma;
		font-size: 18pt;
	}
}
@media screen and (max-width: 500px) {
	body {
		background-color: orangered;
		margin: 0;
		padding: 0;
		font-family: Tahoma;
		font-size: 8pt;
	}
}

.menuContainer {
	position: fixed;
	left: 0pt;
	top: 0pt;
	height: 10pt;
	z-index: 1000;
	margin-left: 0pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-right: 0pt;
	width:100%;
}

.nn {
	background-color: #E3F2FD;
}

.workContainer {
	position: relative;
	left: 0.5rem;
	top: 3.6rem;
	right:0.5rem;
	z-index:999;
}

.menuItem {
	padding-right: 10pt;
	padding-left: 10pt;
	border: none;
}
